# dependencies
node_modules/

# build
dist/
.angular/

# IDE
.vscode/
.idea/
*.swp
*.log

# artifacts
C:/Users/jonny/.gemini/antigravity/brain/aa14cd25-7ee3-44ac-9df2-6085fbf676d1/
.agent/
.gemini/
.env

# temp files
tmp/
temp/
.vercel
