@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0c3835;
  --secondary: #78572b;
  --accent: #8B6F4E;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

.font-serif {
  font-family: 'Playfair Display', serif;
}

.font-sans {
  font-family: 'Inter', sans-serif;
}
